<button (click)="increment()">Increment</button>
<p>{{ count }}</p>

<input [(ngModel)]="name" placeholder="Name" />
<p>{{ name }}</p>

@if (count > 5) {
  <p>Count is greater than 5!</p>
}@else if (count === 5) {
  <p>Count is equal to 5!</p>
}@else {
  <p>Count is less than 5!</p>
}


@for (stevilka of stevilke; track $index) {
  @switch (stevilka) {
    @case (1) {
      <p>{{stevilka}}</p>
    }
    @case (2) {
      <p>{{stevilka}}</p>
    }
    @case (3) {
      <p>{{stevilka}}</p>
    }
    @default {
      <p>Other number: {{ stevilka }}</p>
    }
  }

}
